/* Sidebar */
#sidebar-wrapper {
    width: 250px;
    min-height: 100vh;
    transition: margin 0.3s ease;
}

/* Sidebar links */
#sidebar-wrapper .list-group-item {
    padding: 20px;
    font-size: 1.1em;
}

.sidebar-heading img {
    max-width: 180px;
    padding: 10px;
    margin: 0 auto;
    display: block;
}


/* When toggled, move sidebar off-screen */
#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

/* Adjust content width when sidebar is hidden */
#wrapper.toggled #page-content-wrapper {
    margin-left: 0;
}


/*Login page*/

/* Scoped CSS for login page */

/* Container and form styling */

.login-page{
   font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-page .container {
    background-color: #f4f7fa;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-page .login-form h2 {
    text-align: center;
    color: #005c97;
}

.login-page .form-group {
    margin-bottom: 15px;
}

.login-page label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.login-page input[type="email"],
.login-page input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-page input[type="email"]:focus,
.login-page input[type="password"]:focus {
    border-color: #005c97;
}

.login-page .btn {
    width: 100%;
    padding: 10px;
    background-color: #005c97;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-page .btn:hover {
    background-color: #004080;
}

.login-page .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}



/* Login buttonEND */



